@page "/docs"
@attribute [Authorize]
@inject ApiService ApiService

<div class="row" style="margin:40px;">
    <div class="col-md-2">
        <h2>Документация</h2>
    </div>
</div>

<div class="row" style="margin:40px;">
    <div class="col-md-8">
        <p>
            <div class="alert alert-info" role="alert">
                Функции кнопок как правило снабжены всплывающими подсказками, поэтому, если в документации есть названия кнопок, которые
                вы не видите, то нужно посмотреть на всплывающие подсказки кнопок.
            </div>
        </p>

        <h4>Установка</h4>
        <p>
            <ul>
                <li><a href="@(apiBaseUrl)/api/Download?fileName=OfferMaker.zip">Скачать</a> архив</li>
                <li>Разархивировать в нужную папку</li>
                <li>В разархивированнной папке запустить файл OfferMaker.exe</li>
                <li>Если программа выдаст предупреждение о неустановленном .NET 5, то <a href="https://download.visualstudio.microsoft.com/download/pr/2887cb40-178c-4c1c-8fc1-ad5b8a29075b/33b8f9d6bbcf1b8bef4170ff101e85d0/windowsdesktop-runtime-5.0.14-win-x64.exe">скачать</a> и установить .NET 5</li>
            </ul>
        </p>

        <h4>1. Режимы работы приложения</h4>
        <p>
            Приложение имеет 3 режима работы:
            <ul>
                <li>оффлайн - приложение не обменивается информацией с сервером приложения</li>
                <li>авто - онлайн режим, автоматически переходящий в оффлай при отсутствии интернета</li>
                <li>онлайн - работа ведётся только с данными с сервера приложения</li>
            </ul>
            Предпочтительным режимом является режим "авто". <br />
            "Оффлайн" и "онлайн" режимы в основном необходимы для тестирования, но также могут использоваться
            как полноценные режимы программы.
        </p>
        <ul>
            <li>
                <h5>1.1. Оффлайн</h5>
                <p>
                    Запуск программы в режиме в "оффлайн" возможен после того, как были кэшированы данные в режиме "авто".
                    Изменение, удаление и добавление шаблонов и архивов фиксируется в локальных данных, в последующем эти изменения можно применить
                    в режиме "авто".
                </p>
            </li>
            <li>
                <h5>1.2. Авто</h5>
                <p>
                    В режиме "авто" программа работает с данными с сервера приложения, при запуске приложения все данные кэшируются, при запросе
                    данных в случае, если нет соединения с сервером, программа пытается получить данные из кэша.
                    Изменение, удаление и добавление шаблонов и архивов при отсутствии соединения с сервером фиксируется в локальных данных,
                    в последующем эти изменения можно применить. При наличии соединения данные отправляются на сервер, кэш обновляется.
                </p>
            </li>
            <li>
                <h5>1.3. Онлайн</h5>
                <p>
                    В "онлайн" режиме программа работает только с данными с сервера приложения. Локальные данные игнорируются, кэширование данных не производится.
                </p>
            </li>
        </ul>

        <h4>2. Настройки</h4>
        <div class="alert alert-info" role="alert">
            Настройки приложения доступны в окне авторизации при клике на кнопку "Настройки" и при запущенном приложении в правом верхнем углу
            при клике на надпись "Настройки".
        </div>
        <ul>
            <li>
                <h5>2.1. Тема и цвет</h5>
                <p>
                    С помощью комбобокса "Тема" можно выбрать светлое или тёмное оформление интерфейса приложения.<br />
                    С помощью комбобокса "Цвет" можно выбрать цветовую гамму оформления интерфейса приложения.
                </p>
            </li>
            <li>
                <h5>2.2. Режим</h5>
                <p>
                    С помощью комбобокса "Режим" можно выбрать режим работы приложения.<br />
                    При этом, если режим выбирается при запуске приложения из окна авторизации, то он будет применён при запуске.<br />
                    Если режим выбирается из запущенного приложения, то режим будет применён при следующем новом запуске приложения.
                </p>
            </li>
            <li>
                <h5>2.3. Очистка кэша</h5>
                <p>
                    Кнопка "Очистить кэш" нужна для удаления всех кэшированных данных и кэшированных картинок.<br />
                    При нажатии на кнопку пользователь должен подтвердить удаление в диалоговом окне.<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
            <li>
                <h5>2.4. Лог</h5>
                <p>
                    Кнопка "Лог" служит для открытия файла лога приложения.<br />
                    При нажатии файл откроется в Notepad++(если он установлен в папку по умолчанию) либо в блокноте Windows.
                </p>
                <div class="alert alert-info" role="alert">
                    Как правило, действия, приводящие к ошибке логируются в файле log.txt. Вы ускорите обнаружение и устранение ошибки, если к информации об
                    ошибке приложите файл log.txt. Он лежит в папке с программой, также его можно открыть через окно настроек программы.
                </div>
            </li>
            <li>
                <h5>2.5. Скачивание изображений</h5>
                <p>
                    Для принудительного кэширования всех изображений необходимо нажать кнопку "Скачать все изображения".<br />
                    Кнопка активна только когда приложение запущено, т.к. для скачивания необходима авторизация.<br />
                    Функция доступна во всех режимах, в режиме "оффлайн" при условии,
                    что в приложении хранится актуальный ключ для доступа к серверу.<br />
                    Функция необходима для подготовки приложения к "оффлайн" режиму работы.<br />
                    При нажатии на кнопку интерфейс настроек меняется, отображается прогресс скачивания изображений.
                </p>
            </li>
            <li>
                <h5>2.6. Удаление локальных данных</h5>
                <p>
                    Кнопка "Удалить локальные данные" нужна для удаления данных об изменении, удалении и создании шаблонов и архивов(архивы не меняются),
                    которые сохраняются при работе в режиме "оффлайн".<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
        </ul>

        <h4>3. Авторизация</h4>
        <p>
            При первом запуске программы либо после очистки кэша баннеры и фото пользователей(если есть права на доступ к пользователям) принудительно кэшируются.
        </p>
        <p>
            <ul>
                <li>
                    <h5>3.1. Оффлайн</h5>
                    <p>
                        В этом режиме программа пытается авторизоваться сначала на сервере, потом локально.
                        Для локальной авторизации применяется хэш пароля, который сохраняется при удачной авторизации в режиме "авто" или "онлайн".
                        Все данные берутся из локального кэша, запуск программы возможен только если есть кэшированные данные.
                        Авторизоваться может только пользователь, который в последний раз удачно авторизовывался в режиме "онлайн" или "авто".
                    </p>
                </li>
                <li>
                    <h5>3.2. Авто</h5>
                    <p>
                        В этом режиме программа пытается авторизоваться сначала на сервере, потом локально.
                        В случае, если онлайн авторизация не сработала, для взаимодействия с сервером программа пытается использовать
                        ключ доступа, который использовался в предыдущем сеансе.
                    </p>
                </li>
                <li>
                    <h5>3.3. Онлайн</h5>
                    <p>
                        В этом режиме программа авторизовывается только на сервере.
                    </p>
                </li>
            </ul>
        </p>

        <h4>4. Админка.</h4>
        <p>
            Изменения применяются только в режиме онлайн.<br />
            В админке  4 вкладки:
            <ul>
                <li><b>профиль</b></li>
                <li><b>пользователи</b></li>
                <li><b>создание пользователя</b></li>
                <li><b>разрешения</b></li>
            </ul>
            Всем пользователям доступна вкладка "Профиль", пользователям, у которых в должности есть разрешения
            "Управление пользователями","Админ" доступны все вкладки.
        </p>
        <ul>
            <li>
                <h5>4.1. Профиль</h5>
                <p>
                    На вкладке "Профиль" пользователь может редактировать с подтверждением текущего пароля:
                    <ul>
                        <li>тел 1</li>
                        <li>тел 2</li>
                        <li>имя</li>
                        <li>фамилия</li>
                        <li>пароль</li>
                        <li>фото</li>
                    </ul>
                    Также отображается должность пользователя и права должности.
                </p>
            </li>
            <li>
                <h5>4.2. Пользователи</h5>
                <p>
                    На вкладке "Пользователи" отображается таблица пользователей системы.<br />
                    В таблице отражены:
                    <ul>
                        <li>фото</li>
                        <li>должность (всплывающая подсказка при наведении на фото)</li>
                        <li>фамилия и имя пользователя</li>
                        <li>кнопка для сброса пароля пользователя</li>
                        <li>кнопка для удаления пользователя</li>
                    </ul>
                    <b>Сброс пароля:</b><br />
                    При нажатии на кнопку сброса пароля открывается окно "Новый пароль".<br />
                    Окно состоит из текстбокса с автоматически сгенерированным новым паролем(пароль можно править),
                    кнопки копирования пароля в буфер обмена и кнопки для смены пароля. При нажатии на кнопку смены пароля отправляется запрос на смену
                    пароля.<br />
                    Если смена произошла удачно, то появляется сообщение, о том, что смена пароля прошла удачно.<br />
                    Если смена пароля не удалась, то появляется сообщение об ошибке.<br />
                </p>
                <p>
                    При выборе пользователя в таблице справа от таблицы появляются данные пользователя, доступные для редактирования:
                    <ul>
                        <li>фото</li>
                        <li>должность</li>
                        <li>тел1</li>
                        <li>тел2</li>
                        <li>имя</li>
                        <li>фамилия</li>
                    </ul>
                    Применить изменённые данные можно нажав кнопку "Применить изменения".<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
            <li>
                <h5>4.3. Создание пользователя</h5>
                <p>
                    При создании пользователя можно добавить поля:
                    <ul>
                        <li>фото</li>
                        <li>должность (обязательно)</li>
                        <li>тел1</li>
                        <li>тел2</li>
                        <li>фамилия (обязательно)</li>
                        <li>имя (обязательно)</li>
                        <li>email (обязательно)</li>
                        <li>пароль (обязательно)</li>
                    </ul>
                    Для создания пользователя нажать кнопку "Добавить пользователя".<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
            <li>
                <h5>4.4. Разрешения</h5>
                <p>
                    Вкладка предназначена для создания должностей и управления разрешениями для должностей.<br />
                    На вкладке есть 2 списка: Должности и Разрешения.<br />
                    При выборе должности в списке слева отображаются её разрешения в списке справа.<br />
                    Для создания должности нужно заполнить единстенное текстовое поле "Новая должность" и
                    нажать кнопку "Добавить должность".<br />
                    В случае удачи появляется сообщение, о том, что действие совершено. Поле должности очищается.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
                <p>
                    Для удаления должности в списке должностей есть кнопка "Удалить должность".
                    При попытке удаления должности, которая назначена какому-нибудь пользователю,
                    будет возвращено сообщение об ошибке с перечислением имён пользователей, которым
                    назначена эта должность.<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
                <p>
                    Для изменения разрешений должности нужно выбрать нужную должность в списке слева, проставить/убрать
                    чекбоксы соответствующих разрешений в списке справа и нажать на кнопку "Сохранить разрешения".<br />
                    При нажатии на кнопку "Сохранить разрешения" сохраняются изменения для всех должностей.
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
        </ul>

        <h4>5. Работа с документами</h4>
        <p>
            <div class="alert alert-info" role="alert">
                Документы Offer Maker, загруженные в конструктор могут находиться в нескольких состояниях:
                <ul>
                    <li>новый</li>
                    <li>шаблон</li>
                    <li>архив</li>
                    <li>архив старой версии</li>
                </ul>
            </div>
        </p>
        <ul>
            <li>
                <h5>5.1. Кнопка "Открыть документ"</h5>
                <p>
                    Открываются файлы с расширениями .omf и .kcc(файл старой версии КП).
                    Изначально открывается папка, предназначенная для сохранения документов.
                </p>
            </li>
            <li>
                <h5>5.2. Кнопка "Сохранить документ"</h5>
                <p>
                    При сохранении открывается папка, предназначенная для сохранения документов.
                </p>
            </li>
            <li>
                <h5>5.3. Кнопка "Сохранить шаблон"</h5>
                <p>
                    Любой документ, находящийся в конструкторе можно сохранить как новый шаблон, даже если был загружен другой шаблон.
                    Результат действия отображается в сообщении.
                    <ul>
                        <li>в режиме "оффлайн" будет локально создан шаблон</li>
                        <li>в режиме "авто" программа попытается добавить шаблон на сервер, в случае неудачи шаблон будет создан локально </li>
                        <li>в режиме "онлайн"  программа попытается добавить шаблон на сервер</li>
                    </ul>
                </p>
            </li>
            <li>
                <h5>5.4. Кнопка "Сохранить в PDF с баннером" и кнопка "Сохранить в PDF без баннера"</h5>
                <p>
                    Документ будет сохранён в архив, если сохранение пройдёт удачно, то документ можно будет сохранить в Pdf(откроется диалоговое окно сохранения файла).
                </p>
            </li>
            <li>
                <h5>5.5. Кнопка "Сохранить в архив"</h5>
                <p>
                    Сохранить в архив можно:
                    <ul>
                        <li>новый документ</li>
                        <li>документ на основе шаблона</li>
                        <li>загруженный из файла старый архив</li>
                    </ul>
                    Архив повторно сохранить нельзя. Если нужно повторно сделать из архива другое КП, то сначала его надо сохранить как шаблон.
                    Результат действия отображается в сообщении.
                    <ul>
                        <li>в режиме "оффлайн" будет локально создан архив, существующий только локально архив подсвечивается жёлтым цветом и имеет id=0</li>
                        <li>в режиме "авто" программа попытается добавить архив на сервер, в случае неудачи архив будет создан локально</li>
                        <li>в режиме "онлайн" программа попытается добавить архив на сервер</li>
                    </ul>
                </p>
            </li>
            <li>
                <h5>5.6. Архив</h5>
                <p>
                    <ul>
                        <li>
                            <h6>5.6.1. Поиск и фильтр</h6>
                            <p>
                                Поиск и фильтр архива работают как единый фильтр, кнопка поиска и кнопка "Применить" фильтра выполняют одну и ту же комманду.
                                Поиск осуществляется по названиям архивов.
                                Поиск по остальным полям можно осуществить через фильтр.
                            </p>
                        </li>
                        <li>
                            <h6>5.6.2. Открытие архива</h6>
                            <p>
                                Открыть архив можно по двойному клику по архиву в таблице либо нажав на кнопку "Загрузить" в таблице архивов.
                            </p>
                        </li>
                        <li>
                            <h6>5.6.3. Удаление архива</h6>
                            <ul>
                                <li>
                                    в режиме "оффлайн", если архив был сохранён до этого на сервере, то он помечается к удалению и выделяется красным цветом,
                                    в дальнейшем подтвердить его удаление можно в режиме "авто"
                                </li>
                                <li>
                                    в режиме "авто" программа пытается удалить архив(пометить как удалённый) с сервера, в случае неудачи архив помечается к удалению и выделяется красным цветом,
                                    для подтверждения изменений (удаления помеченных к удалению и сохранения новых архивов), надо нажать кнопку "Сохранить изменения в архиве"
                                </li>
                                <li>
                                    в режиме "онлайн" программа пытается удалить архив с сервера, локальные данные (помеченные к удалению и несохранённые архивы) никак не отображаются
                                </li>
                            </ul>
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <h5>5.7. Шаблоны</h5>
                <p>
                    Поиск и фильтр шаблонов, удаление и создание новых шаблонов работают аналогично поиску, фильтру, удалению и созданию архивов.
                    <h6>5.7.1. Изменение шаблона</h6>
                    Для изменения шаблона нажать кнопку "Редактировать". Загрузится шаблон, при любом изменении шаблон перейдёт в состояние отредактированного и подсветится синим цветом.
                    Для сохранения изменений нажать кнопку "Сохранить изменения в шаблонах":
                    <ul>
                        <li>в режиме "оффлайн" изменения будут применены локально и шаблон так и будет подсвечен синим</li>
                        <li>в режиме "авто" будет попытка сохранить изменения на сервере, в случае удачи всё сохранится, в случае неудачи изменения будет применены локально</li>
                        <li>в режиме "онлайн" будет попытка сохранить изменения на сервере, в случае неудачи будет сообщение об ошибке</li>
                    </ul>
                </p>
            </li>
        </ul>

        <h4>6. Конструктор</h4>
        <div class="alert alert-info" role="alert">
            Стоит различать группы номенклатур в конструкторе и группы номенклатур в каталоге.
            <ul>
                <li>
                    Группа номенклатур в каталоге - это просто список номенклатур, созданный для удобства добавления, либо сгруппированный по какому угодно принципу.
                </li>
                <li>
                    Группа номенклатур в конструкторе - это тоже список номенклатур, но объединённый общим функционалом, предоставляемым через приложением и отображаемый в КП.
                </li>
            </ul>
        </div>
        <ul>
            <li>
                <h5>6.1 Кнопка "Описание"</h5>
                <p>
                    Служит для добавления/изменения описаний.<br />
                    Описания, которые идут по умолчанию нельзя удалить, только включить/отключить с помощью чекбокса.<br />
                    Описания, которые были добавлены, можно удалить или включить/отключить.
                </p>
            </li>
            <li>
                <h5>6.2 Кнопка "Клиент и название КП"</h5>
                <p>
                    Служит для редактирования данных клиента и КП:
                    <ul>
                        <li>название КП</li>
                        <li>имя</li>
                        <li>организация</li>
                        <li>город</li>
                    </ul>
                    Для применения обязательно надо нажать кнопку "Сохранить", закрытие окна и кнопка "Отмена" отменяют изменения.
                </p>
            </li>
            <li>
                <h5>6.3. Кнопка "Скидка"</h5>
                <p>
                    Скидку пожно установить:
                    <ul>
                        <li>в процентах от 0 до 100%</li>
                        <li>в абсолютном значении в валюте от 0 до размера первоначальной цены</li>
                        <li>через цену КП со скидкой от 0 до размера первоначальной цены</li>
                    </ul>
                    Скидка включается нажатием кнопки "Применить" и отменяется нажатием кнопки "Отмена".<br />
                    Скидка не применяется к группам номенклатур, помеченным как "опция".
                </p>
            </li>
            <li>
                <h5>6.4. Кнопка "Новое КП"</h5>
                <p>
                    Загружает новое КП и сбрасывает все настройки.
                </p>
            </li>
            <li>
                <h5>6.5. Кнопка "Баннер"</h5>
                <p>
                    Открывает интерфейс выбора баннера и выбора рекламных материалов и управления баннерами и ракламными материалами.<br />
                    В окне также можно добавить/удалить баннеры из системы, добавить/удалить рекламные материалы.<br />
                    Дабавление/удаление баннеров и рекламных материалов(управление) в системе осуществляется только в режиме авто и онлайн, т.е.
                    при добавлении нового баннера (не в коммерческое предложение) происходит попытка загрузить его на сервер и зарегистрировать в системе.
                    Баннер не будет добавлен, если сервер не подтвердит, что баннер загружен. Тоже самое касается удаления.
                    В окне можно добавлять:
                    <ul>
                        <li>
                            <h6>6.5.1. Баннеры.</h6>
                            Для добавления баннера в КП - двойной клик по картинке баннера.<br />
                            Для добавления нового баннера в систему кликнуть "Загрузить баннер" и выбрать файл. Баннер будет загружен на сервер.<br />
                            Для удаления баннера из системы - нажать на крестик на изображении баннера.
                        </li>
                        <li>
                            <h6>6.5.2. Реклама.</h6>
                            Рекламные материалы добавляются в КП двуми списками:
                            <ul>
                                <li>первый список ракламы идёт после титульного листа</li>
                                <li>второй список рекламы добавляется в конец КП</li>
                            </ul>
                            Для добавления рекламного материала в КП необходимо перетащить рекламу в один из списков справа в окне добавления рекламных материалов.<br />
                            Для переключения между списками есть 2 вкладки:
                            <ul>
                                <li>"После титульника"</li>
                                <li>"В конец"</li>
                            </ul>
                            Внутри этих списков порядок рекламных материалов можно изменять с помощью перетаскивания.<br />
                            Удалить рекламу из списка можно нажав на крестик на картинке с рекламой в списке.<br />
                            Для добавления нового рекламного материала в систему можно загрузить новое изображение, нажав на кнопку
                            "Загрузить рекламный материал" и выбрав новый файл.<br />
                            Также можно добавить рекламный материал из документа Pdf, для этого нужно нажать на кнопку
                            "Загрузить страницы из pdf-документа". Будет открыт файловый диалог, в случае, если будет выбран pdf-документ,
                            то откроется интерфейс выбора и просмотра pdf-страниц(галерея pdf-страниц). В нём можно выбрать
                            pdf-страницу для просмотра, отметить нужные для добавления страницы поставив галочки на изображениях
                            страниц и нажав на кнопку "Добавить выбранные страницы".
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <h5>6.6. Менеджер</h5>
                <p>
                    Пользователь, которому доступно разрешение назначать менеджера КП может выбрать
                    менеджера из выпадающего списка.
                </p>
            </li>
            <li>
                <h5>6.7. Настройки цен</h5>
                <ul>
                    <li>
                        <h6>6.7.1. Детально</h6>
                        <p>
                            При установке галочки "Детально" в конструкторе для КП в целом,
                            для каждой группы номенклатур и для каждой номенклатуры будут дополнительно отражены:
                            <ul>
                                <li>себестоимость</li>
                                <li>наценка</li>
                                <li>прибыль</li>
                            </ul>
                        </p>
                    </li>
                    <li>
                        <h6>6.7.2. По себестоимости</h6>
                        <p>
                            Чекбокс "По себестоимости" - при установке галочки коэффициент наценки будет установлен в 1 для всей номенклатуры КП,
                            т.е. КП будет сформировано по себестоимости.
                        </p>
                    </li>
                    <li>
                        <h6>6.7.3. Скрыть цены номенклатур</h6>
                        <p>
                            Чекбокс "Скрыть цены номенклатур" - при установке галочки цены на каждую отдельную номенклатуру не отображаются
                            (в опциях отображаются, отображаются суммы групп и сумма КП в целом).
                        </p>
                    </li>
                    <li>
                        <h6>6.7.4. Итоговая сумма в рублях</h6>
                        <p>
                            Чекбокс "Итоговая сумма в рублях" - при установке галочки итоговая сумма КП будет отражена в рублях не зависимо от валюты КП.
                        </p>
                    </li>
                    <li>
                        <h6>6.7.5. Валюта</h6>
                        <p>
                            При выборе валюты итоговая сумма КП и суммы групп пересчитываются в выбранную валюту.<br/>
                            Сумма группы не пересчитывается в валюту КП, если все номенклатуры в группе в одной валюте, отличной от валюты КП, в этом случае сумма группы отображается в валюте номенклатур.
                        </p>
                    </li>
                    <li>
                        <h6>6.7.6. НДС</h6>
                        <p>
                            В зависимости от выбора можно отображать цены с НДС или без НДС, если цены с НДС, то отображается надпись "(с НДС)" в сумме КП в кратком расчёте стоимости
                            и в суммах групп в подробном расчёте стоимости. Эту надпись можно убрать, установив галочку "Скрыть надпись с НДС".
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h5>6.8. Группа номенклатур</h5>
                <ul>
                    <li>
                        <h6>6.8.1. Добавление группы</h6>
                        <p>
                            Для добавления группы номенклатур нажать кнопку "Добавить группу номенклатур" в нижней части конструктора.
                        </p>
                    </li>
                    <li>
                        <h6>6.8.2. Хинты</h6>
                        <p>
                            При вводе названия группы выпадают подсказки, подсказки названий групп добавляются на сервер из названий групп номенклатур при добавлении КП в архив.
                            В приложение хинты попадают при загрузке данных с сервера приложения во время запуска программы.
                        </p>
                    </li>
                    <li>
                        <h6>6.8.3. Включение/выключение</h6>
                        <p>
                            Группы номенклатур можно включать/выключать, выключенная группа не попадает в КП.
                        </p>
                    </li>
                    <li>
                        <h6>6.8.4. Опция</h6>
                        <p>
                            Если поставить галочку "опция", то группа становится опциональной, на неё не распространяются скидки и она идёт в конце КП в разделе
                            "Краткий расчёт стоимости опций" и "Детальный расчёт стоимости опций".
                        </p>
                    </li>
                    <li>
                        <h6>6.8.5. Добавление номенклатуры</h6>
                        <p>
                            Для добавления номенклатуры кликнуть кнопку "Добавить номенклатуру". Откроется окно добавления номенклатуры, по интерфейсу похожее на каталог,
                            но с отсутствующими функциями редактирования. Поиск и категории работают аналогично каталогу.<br />
                            Добавить номенклатуру  в конструктор можно двойным кликом по номенклатуре в таблице номенклатур либо выбрав номенклатуру и кликнув кнопку "Добавить номенклатуру в конструктор".<br />
                            Добавить группу номенклатур в конструктор можно двойным кликом по группе номенклатур в списке групп либо выбрав группу и кликнув кнопку "Добавить группу в конструктор".<br />
                            При добавлении номенклатуры в КП добавляется копия номенклатуры, её редактирование в конструкторе не оказывает влияния на оригинал.
                        </p>
                    </li>
                    <li>
                        <h6>6.8.6. Перетаскивание группы номенклатур(изменение позиции в конструкторе)</h6>
                        <p>
                            Порядок групп в конструкторе меняется с помощью кнопок "Вверх" и "Вниз" в верхней части контрола группы номенклатур либо с помощью перетаскивания.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h5>6.9. Номенклатура</h5>
                <div class="alert alert-info" role="alert">
                    Кнопки управления номенклатурой в первый раз срабатывают по двойному клику, после того, как фокус переведён на определённую номенклатуру они
                    срабатывают по одному клику.
                </div>
                <ul>
                    <li>
                        <h6>6.9.1. Описания</h6>
                        <p>
                            6.9.1. Описания
                            Посмотреть описания и комментарии добавленной в конструктор номенклатуры можно кликнув кнопку "Открыть описание".<br />
                            Добавить описание можно кликнув по кнопке "Добавить описание", при этом, если описания не были открыты, то они развернутся. Новое описание помечено как включённое.<br />
                            Добавить комментарий можно кликнув по кнопке "Добавить комментарий", при этом, если описания не были открыты, то они развернутся. Новый комментарий помечен как выключенный.<br />
                            Комментарии и описания можно включать и отключать(отключенные не отображаются в КП) с помощью чекбокса напротив комментария или описания в списке комментариев и описаний.<br />
                            Порядок комментариев и и описаний можно изменять с помощью кнопок "Вверх" и "Вниз", расположенных напротив описания или комментария в списке.
                        </p>
                    </li>
                    <li>
                        <h6>6.9.2. Изменение порядка номенклатур в группе</h6>
                        <p>
                            Изменение порядка номенклатур в группе осуществляется с помощью кнопок "Вверх" и "Вниз".
                        </p>
                    </li>
                    <li>
                        <h6>6.9.3. Карточка номенклатур</h6>
                        <p>
                            Для просмотра фото номенклатуры нажать кнопку "Карточка", откроется карточка номенклатуры, там же можно отредактировать цену и описания.
                        </p>
                    </li>
                    <li>
                        <h6>6.9.4. Отображение стоимости позиций в группе</h6>
                        <p>
                            Включить/отключить отображение стоимости позиции в КП можно с помощью чекбокса "Отображать стоимость позиции в группе в КП".
                        </p>
                    </li>
                    <li>
                        <h6>6.9.5. Включение в итоговую стоимость КП</h6>
                        <p>
                            Включить/исключить стоимость позиции из общей стоимости КП можно с помощью чекбокса "Включать в итоговую стоимость КП".
                        </p>
                    </li>
                    <li>
                        <h6>6.9.6. Редактирование фото, цены и валюты</h6>
                        <p>
                            Редактирование фото осуществляется через карточку номенклатуры.<br />
                            Для редактирования с/с и наценки в конструкторе нужно установить галочку "Детально".<br />
                            При редактировании с/с изменяется цена и прибыль.<br />
                            При редактировании наценки изменяется цена и прибыль.<br />
                            При редактировании цены изменяется наценка и прибыль.
                        </p>
                    </li>
                </ul>
            </li>
        </ul>

        <h4>7. Каталог</h4>
        <ul>
            <li>
                <h5>7.1. Категории и поиск</h5>
                <p>
                    Для поиска номенклатуры как фильтр используется поиск и дерево категорий, они работают совместно.<br />
                    Для сброса выделения категории служит кновка "Все категории".<br />
                    Чтобы посмотреть номенклатуры без категорий есть кнопка "Без категории".<br />
                    Для создания категории нажать кнопку "Создать категорию".<br />
                    Категории можно перетаскивать изменяя порядок и вкладывая друг в друга.<br />
                    Редактирование и удаление категорий происходит через контекстное меню(щелчок правой кнопкой мышт по категории).<br />
                    Справа от названия категории указан счётчик номенклатуры, которая содержится в этой категории.<br />
                    Добавить номенклатуру в категорию можно перетаскиванием из таблицы "Номенклатура", можно выделить одну или несколько номенклатур и перетащить.<br />
                    При перетаскивании номенклатуры из одной категории в другую номенклатура добавляется в одной категории, а в другой удаляется.<br />
                    У номенклатуры может быть только одна категория.<br />
                    Удалить номенклатуру из категории можно в карточке номенклатуры с помощью кнопки "Без категории".
                </p>
            </li>
            <li>
                <h5>7.2. Валюты</h5>
                <p>
                    Установить валюты, используемые в приложении и посмотреть на какое число установлен курс можно нажав кнопку "Валюты".
                </p>
            </li>
            <li>
                <h5>7.3. Номенклатура</h5>
                <ul>
                    <li>
                        <h6>7.3.1. Добавление номенклатуры</h6>
                        <p>
                            Для добавления номенклатуры нажать кнопку "Добавить номенклатуру". Откроется карточка номенклатуры, где можно заполнить все данные номенклатуры.
                            Номенклатура создаётся при нажатии кнопки.
                        </p>
                    </li>
                    <li>
                        <h6>7.3.2. Редактирование номенклатуры</h6>
                        <p>
                            Для редактирования номенклатуры нажать кнопку "Открыть карточку" в таблице номенклатур напротив нужной номенклатуры.
                        </p>
                    </li>
                    <li>
                        <h6>7.3.3. Клонирование номенклатуры</h6>
                        <p>
                            Для клонирования номенклатуры нажать кнопку "Клонировать" в таблице номенклатур напротив нужной номенклатуры.<br />
                            Склонированная номенклатура появится сразу под клонированной номенклатурой, после сохранения и перезагрузки приложения номенклатура будет располагаться в конце списка номенклатур,
                            в порядке добавления номенклатуры на сервер.
                        </p>
                    </li>
                    <li>
                        <h6>7.3.4. Удаление номенклатуры</h6>
                        <p>
                            Для удаления номенклатуры нажать кнопку "Удалить" в таблице номенклатур напротив нужной номенклатуры.<br />
                            Появится диалоговое окно с подтверждением удаление номенклатуры.<br />
                            Для удаления нескольких номенклатур надо выделить несколько номенклатур и нажать кнопку "Удалить номенклатуры"
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h5>7.4. Группы номенклатур</h5>
                <p>
                    Группы номенклатур отображаются в виде 2-х списков: список всех групп и содержание выбранной группы.
                </p>
                <ul>
                    <li>
                        <h6>7.4.1. Добавление группы номенклатур</h6>
                        <p>
                            Для добавления группы номенклатур нажать кнопку "Добавить группу", добавится группа, название можно отредактировать клинув по группе.
                        </p>
                    </li>
                    <li>
                        <h6>7.4.2. Добавление номенклатуры в группу номенклатур</h6>
                        <p>
                            В группу нельзя добавить одну и ту же номенклатуру более одного раза. Номенклатуры добавляются путём перетаскивания из таблицы
                            номенклатур в группу номенклатур: либо в группу в списке групп номенклатур либо в список номенклатур выбранной группы.
                        </p>
                    </li>
                    <li>
                        <h6>7.4.3. Удаление номенклатуры из группы номенклатур</h6>
                        <p>
                            Для удаления кликнуть на группу номенклатур, кликнуть "Удалить номенклатуру из группы" в списке номенклатуры группы напротив номенклатуры для удаления.
                        </p>
                    </li>
                    <li>
                        <h6>7.4.4. Удаление группы номенклатур</h6>
                        <p>
                            Для удаления группы номенклатур кликнуть "Удалить групу" в списке групп номенклатур напротив нужной группы.
                        </p>
                    </li>
                </ul>
            </li>
            <li>
                <h5>7.5. Сохранение</h5>
                <p>
                    Все изменения в каталоге применяются кнопкой "Сохранить всё".
                </p>
            </li>
        </ul>


    </div>
</div>

@code {
    string apiBaseUrl;
    protected override async Task OnInitializedAsync()
    {
        apiBaseUrl = ApiService.GetApiBaseUrl();
    }
}
