@page "/docs"
@*@attribute [Authorize]*@

<div class="row" style="margin:40px;">
    <div class="col-md-2">
        <h2>Документация</h2>
    </div>
</div>

<div class="row" style="margin:40px;">
    <div class="col-md-8">
        <p>
            <div class="alert alert-info" role="alert">
                Функции кнопок как правило снабжены всплывающими подсказками, поэтому, если в документации есть названия кнопок, которые
                вы не видите, то нужно посмотреть на всплывающие подсказки кнопок.
            </div>
        </p>

        <h4>1. Режимы работы приложения</h4>
        <p>
            Приложение имеет 3 режима работы:
            <ul>
                <li>оффлайн - приложение не обменивается информацией с сервером приложения</li>
                <li>авто - онлайн режим, автоматически переходящий в оффлай при отсутствии интернета</li>
                <li>онлайн - работа ведётся только с данными с сервера приложения</li>
            </ul>
            Предпочтительным режимом является режим "авто". <br />
            "Оффлайн" и "онлайн" режимы в основном необходимы для тестирования, но также могут использоваться
            как полноценные режимы программы.
        </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>1.1. Оффлайн</h5>
                <p>
                    Запуск программы в режиме в "оффлайн" возможен после того, как были кэшированы данные в режиме "авто".
                    Изменение, удаление и добавление шаблонов и архивов фиксируется в локальных данных, в последующем эти изменения можно применить
                    в режиме "авто".
                </p>
            </li>
            <li class="list-group-item">
                <h5>1.2. Авто</h5>
                <p>
                    В режиме "авто" программа работает с данными с сервера приложения, при запуске приложения все данные кэшируются, при запросе
                    данных в случае, если нет соединения с сервером, программа пытается получить данные из кэша.
                    Изменение, удаление и добавление шаблонов и архивов при отсутствии соединения с сервером фиксируется в локальных данных,
                    в последующем эти изменения можно применить. При наличии соединения данные отправляются на сервер, кэш обновляется.
                </p>
            </li>
            <li class="list-group-item">
                <h5>1.3. Онлайн</h5>
                <p>
                    В "онлайн" режиме программа работает только с данными с сервера приложения. Локальные данные игнорируются, кэширование данных не производится.
                </p>
            </li>
        </ul>

        <h4>2. Настройки</h4>
        <div class="alert alert-info" role="alert">
            Настройки приложения доступны в окне авторизации при клике на кнопку "Настройки" и при запущенном приложении в правом верхнем углу
            при клике на надпись "Настройки".
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>2.1. Тема и цвет</h5>
                <p>
                    С помощью комбобокса "Тема" можно выбрать светлое или тёмное оформление интерфейса приложения.<br />
                    С помощью комбобокса "Цвет" можно выбрать цветовую гамму оформления интерфейса приложения.
                </p>
            </li>
            <li class="list-group-item">
                <h5>2.2. Режим</h5>
                <p>
                    С помощью комбобокса "Режим" можно выбрать режим работы приложения.<br />
                    При этом, если режим выбирается при запуске приложения из окна авторизации, то он будет применён при запуске.<br />
                    Если режим выбирается из запущенного приложения, то режим будет применён при следующем новом запуске приложения.
                </p>
            </li>
            <li class="list-group-item">
                <h5>2.3. Очистка кэша</h5>
                <p>
                    Кнопка "Очистить кэш" нужна для удаления всех кэшированных данных и кэшированных картинок.<br />
                    При нажатии на кнопку пользователь должен подтвердить удаление в диалоговом окне.<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
            <li class="list-group-item">
                <h5>2.4. Лог</h5>
                <p>
                    Кнопка "Лог" служит для открытия файла лога приложения.<br />
                    При нажатии файл откроется в Notepad++(если он установлен в папку по умолчанию) либо в блокноте Windows.
                </p>
                <div class="alert alert-info" role="alert">
                    Как правило, действия, приводящие к ошибке логируются в файле log.txt. Вы ускорите обнаружение и устранение ошибки, если к информации об
                    ошибке приложите файл log.txt. Он лежит в папке с программой, также его можно открыть через окно настроек программы.
                </div>
            </li>
            <li class="list-group-item">
                <h5>2.5. Скачивание изображений</h5>
                <p>
                    Для принудительного кэширования всех изображений необходимо нажать кнопку "Скачать все изображения".<br />
                    Кнопка активна только когда приложение запущено, т.к. для скачивания необходима авторизация.<br />
                    Функция доступна во всех режимах, в режиме "оффлайн" при условии,
                    что в приложении хранится актуальный ключ для доступа к серверу.<br />
                    Функция необходима для подготовки приложения к "оффлайн" режиму работы.<br />
                    При нажатии на кнопку интерфейс настроек меняется, отображается прогресс скачивания изображений.
                </p>
            </li>
            <li class="list-group-item">
                <h5>2.6. Удаление локальных данных</h5>
                <p>
                    Кнопка "Удалить локальные данные" нужна для удаления данных об изменении, удалении и создании шаблонов и архивов(архивы не меняются),
                    которые сохраняются при работе в режиме "оффлайн".<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
        </ul>

        <h4>3. Авторизация</h4>
        <p>
            При первом запуске программы либо после очистки кэша баннеры и фото пользователей(если есть права на доступ к пользователям) принудительно кэшируются.
        </p>
        <p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>3.1. Оффлайн</h5>
                    <p>
                        В этом режиме программа пытается авторизоваться сначала на сервере, потом локально.
                        Для локальной авторизации применяется хэш пароля, который сохраняется при удачной авторизации в режиме "авто" или "онлайн".
                        Все данные берутся из локального кэша, запуск программы возможен только если есть кэшированные данные.
                        Авторизоваться может только пользователь, который в последний раз удачно авторизовывался в режиме "онлайн" или "авто".
                    </p>
                </li>
                <li class="list-group-item">
                    <h5>3.2. Авто</h5>
                    <p>
                        В этом режиме программа пытается авторизоваться сначала на сервере, потом локально.
                        В случае, если онлайн авторизация не сработала, для взаимодействия с сервером программа пытается использовать
                        ключ доступа, который использовался в предыдущем сеансе.
                    </p>
                </li>
                <li class="list-group-item">
                    <h5>3.3. Онлайн</h5>
                    <p>
                        В этом режиме программа авторизовывается только на сервере.
                    </p>
                </li>
            </ul>
        </p>

        <h4>4. Админка.</h4>
        <p>
            Изменения применяются только в режиме онлайн.<br />
            В админке  4 вкладки:
            <ul>
                <li><b>профиль</b></li>
                <li><b>пользователи</b></li>
                <li><b>создание пользователя</b></li>
                <li><b>разрешения</b></li>
            </ul>
            Всем пользователям доступна вкладка "Профиль", пользователям, у которых в должности есть разрешения
            "Управление пользователями","Админ" доступны все вкладки.
        </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>4.1. Профиль</h5>
                <p>
                    На вкладке "Профиль" пользователь может редактировать с подтверждением текущего пароля:
                    <ul>
                        <li>тел 1</li>
                        <li>тел 2</li>
                        <li>имя</li>
                        <li>фамилия</li>
                        <li>пароль</li>
                        <li>фото</li>
                    </ul>
                    Также отображается должность пользователя и права должности.
                </p>
            </li>
            <li class="list-group-item">
                <h5>4.2. Пользователи</h5>
                <p>
                    На вкладке "Пользователи" отображается таблица пользователей системы.<br />
                    В таблице отражены:
                    <ul>
                        <li>фото</li>
                        <li>должность (всплывающая подсказка при наведении на фото)</li>
                        <li>фамилия и имя пользователя</li>
                        <li>кнопка для сброса пароля пользователя</li>
                        <li>кнопка для удаления пользователя</li>
                    </ul>
                    <b>Сброс пароля:</b><br />
                    При нажатии на кнопку сброса пароля открывается окно "Новый пароль".<br />
                    Окно состоит из текстбокса с автоматически сгенерированным новым паролем(пароль можно править),
                    кнопки копирования пароля в буфер обмена и кнопки для смены пароля. При нажатии на кнопку смены пароля отправляется запрос на смену
                    пароля.<br />
                    Если смена произошла удачно, то появляется сообщение, о том, что смена пароля прошла удачно.<br />
                    Если смена пароля не удалась, то появляется сообщение об ошибке.<br />
                </p>
                <p>
                    При выборе пользователя в таблице справа от таблицы появляются данные пользователя, доступные для редактирования:
                    <ul>
                        <li>фото</li>
                        <li>должность</li>
                        <li>тел1</li>
                        <li>тел2</li>
                        <li>имя</li>
                        <li>фамилия</li>
                    </ul>
                    Применить изменённые данные можно нажав кнопку "Применить изменения".<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
            <li class="list-group-item">
                <h5>4.3. Создание пользователя</h5>
                <p>
                    При создании пользователя можно добавить поля:
                    <ul>
                        <li>фото</li>
                        <li>должность (обязательно)</li>
                        <li>тел1</li>
                        <li>тел2</li>
                        <li>фамилия (обязательно)</li>
                        <li>имя (обязательно)</li>
                        <li>email (обязательно)</li>
                        <li>пароль (обязательно)</li>
                    </ul>
                    Для создания пользователя нажать кнопку "Добавить пользователя".<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
            <li class="list-group-item">
                <h5>4.4. Разрешения</h5>
                <p>
                    Вкладка предназначена для создания должностей и управления разрешениями для должностей.<br />
                    На вкладке есть 2 списка: Должности и Разрешения.<br />
                    При выборе должности в списке слева отображаются её разрешения в списке справа.<br />
                    Для создания должности нужно заполнить единстенное текстовое поле "Новая должность" и
                    нажать кнопку "Добавить должность".<br />
                    В случае удачи появляется сообщение, о том, что действие совершено. Поле должности очищается.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
                <p>
                    Для удаления должности в списке должностей есть кнопка "Удалить должность".
                    При попытке удаления должности, которая назначена какому-нибудь пользователю,
                    будет возвращено сообщение об ошибке с перечислением имён пользователей, которым
                    назначена эта должность.<br />
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
                <p>
                    Для изменения разрешений должности нужно выбрать нужную должность в списке слева, проставить/убрать
                    чекбоксы соответствующих разрешений в списке справа и нажать на кнопку "Сохранить разрешения".<br />
                    При нажатии на кнопку "Сохранить разрешения" сохраняются изменения для всех должностей.
                    В случае удачи появляется сообщение, о том, что действие совершено.<br />
                    В случае неудачи появляется сообщение об ошибке.
                </p>
            </li>
        </ul>

        <h4>5. Работа с документами</h4>
        <p>
            Документы Offer Maker, загруженные в конструктор могут находиться в нескольких состояниях:
            <ul>
                <li>новый</li>
                <li>шаблон</li>
                <li>архив</li>
                <li>архив старой версии</li>
            </ul>
        </p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>5.1. Кнопка "Открыть документ"</h5>
                <p>

                </p>
            </li>
            <li class="list-group-item">
                <h5>5.2. Кнопка "Сохранить документ"</h5>
                <p>

                </p>
            </li>
            <li class="list-group-item">
                <h5>5.3. Кнопка "Сохранить шаблон"</h5>
                <p>

                </p>
            </li>
            <li class="list-group-item">
                <h5>5.4. Кнопка "Сохранить в PDF с баннером"</h5>
                <p>

                </p>
            </li>
            <li class="list-group-item">
                <h5>5.5. Кнопка "Сохранить в PDF без баннера"</h5>
                <p>

                </p>
            </li>
            <li class="list-group-item">
                <h5>5.6. Кнопка "Сохранить документ"</h5>
                <p>

                </p>
            </li>
        </ul>

        <h4>6. Сохранение/открытие шаблонов</h4>
        @*<ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
            <li class="list-group-item">
                <h5>1.1 Профиль</h5>
            </li>
        </ul>*@

        @*<h4>2. Админка.</h4>
        <p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
            </ul>
        </p>*@

        @*<h4>2. Админка.</h4>
        <p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
            </ul>
        </p>*@

        @*<h4>2. Админка.</h4>
        <p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
                <li class="list-group-item">
                    <h5>1.1 Профиль</h5>
                </li>
            </ul>
        </p>*@
    </div>
</div>

@code {

}
