@page "/"
@using ApiLib
@using Blazor.Client
@attribute [Authorize]
@inject IUserService UserService
@inject ApiService ApiService
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@using System.IO
@inject IJSRuntime JS

<div class="row justify-content-md-center" style="margin-top: 200px;">
    <div class="col-md-4">
        <a class="btn btn-outline-dark btn-lg" href="@(apiBaseUrl)/api/Download?fileName=OfferMaker.zip" role="button">Скачать Offer Maker</a>
    </div>
</div>

@code {
    string apiBaseUrl;

    protected override async Task OnInitializedAsync()
    {
#if DEBUG
        await Task.Delay(10000);
#endif
        apiBaseUrl = ApiService.GetApiBaseUrl();
        Console.WriteLine(apiBaseUrl);
    }
}