@page "/"
@using ApiLib
@using Blazor.Client
@attribute [Authorize]
@inject IUserService UserService
@inject ApiService ApiService
@inject IAuthenticationService AuthenticationService
@inject NavigationManager NavigationManager
@using System.IO
@inject IJSRuntime JS

<div class="row justify-content-md-center" style="margin-top: 100px;">
    <div class="col-md-4">
        <a class="btn btn-outline-dark btn-lg" href="@(apiBaseUrl)/api/Download?fileName=OfferMaker.zip" role="button">Скачать Offer Maker</a>
    </div>
</div>

<div class="row justify-content-md-center" style="margin-top: 100px;">
    <div class="col-md-8">
        <h5>Версия 1.5.2</h5>
        <ul>
            <li>Исправлен баг: При открытии архивного КП  и добавлении в него н.е. в валюте, которой не было в КП, новая валюта не отображается.</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h5>Версия 1.5.1</h5>
        <ul>
            <li>исправлен баг: КП не сохранялось в архив при сохранении в pdf</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h5>Версия 1.5.0</h5>
        <ul>
            <li>Добавлена возможность редактирования архива</li>
            <li>Добавлена история изменений архива</li>
            <li>Название pdf документа по умолчанию - названиеКП_клиент_номер_дата</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h5>Версия 1.4.0</h5>
        <ul>
            <li>Исправлена вёрстка - детальный расчёт в КП с баннером начинается только с новой страницы</li>
            <li>При закрытии программы добавлено оповещение о несохранённых номенклатурах</li>
            <li>Исправлен баг с добавление предыдущей добавленной картинки, если нажать "Отмена" в графическом редакторе</li>
            <li>Исправлен баг, когда при добавлении картинки к номенклатуре в конструкторе, либо добавлении несохранённой номенклатуры с картинкой картинка терялась при сохранении архива</li>
            <li>Исправлен баг открытия старой версии архива</li>
            <li>Затираются данные о покупателе. ФИО, название компании и город при открытии шаблона</li>
            <li>Добавлена настройка ширины рабочей области, очень удобно</li>
            <li>Сделан прогресс загрузки изображений при открытии шаблона или архива (его видно только когда изображения архива или шаблона не кэшированы)</li>
            <li>Оптимизирована загрузка/скачивание изображений</li>
        </ul>
    </div>
    <div class="col-md-8">
        <h5>Версия 1.3.0</h5>
        <ul>
            <li>Исправлена вёрстка - все бордеры теперь одной ширины</li>
            <li>Добавлено масштабирование рабочей области, теперь там удобно смотреть где есть изображения, а где нет</li>
            <li>Добавлена сумма опций для каждой группы и итоговая стоимость опций</li>
            <li>Опции в документе теперь не начинаются с новой страницы</li>
            <li>Добавлены настройки отступов:
                <ul>
                    <li>отдельно для всего контента, кроме рекламы по ширине от краёв документа в процентах</li>
                    <li>отступы для рекламы по ширине от краёв документа в процентах</li>
                </ul>
            </li>
            <li>При заполнении названия КП в предпросмотре и в формировании КП автоматически подставляется слово НА "название КП"</li>
            <li>Исправлен баг - рекламные материалы сохранялись по локальным путям</li>
            <li>Исправлен баг - цена опций не уходила вверх в документе при отсутствии картинки</li>
            <li>Другие мелкие исправления</li>
        </ul>
    </div>
</div>

@code {
    string apiBaseUrl;

    protected override async Task OnInitializedAsync()
    {
#if DEBUG
        await Task.Delay(10000);
#endif
        apiBaseUrl = ApiService.GetApiBaseUrl();
        Console.WriteLine(apiBaseUrl);
    }
}